streamlit==1.31.0
pandas==2.2.0
numpy==1.26.4
earthengine-api==1.7.10
geemap==0.37.1
streamlit-folium==0.26.1
plotly==6.5.2
xgboost==3.0.3
scikit-learn==1.8.0
scipy==1.17.0
folium==0.20.0
shap==0.45.0
xyzservices==2025.11.0
python-box==7.3.2
